<ng-container *ngIf="this.employee">
<mat-card>
  <mat-card-title>
    {{this.employee.company.name}} - {{this.employee.name}} {{this.employee.surname}}
  </mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="updateEmployee()" [formGroup]="employeeForm">
    <mat-form-field>
      <input formControlName="name" type="text" name="fname" matInput placeholder="Name" [value]="this.employee.name">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="surname" type="text" name="lname" matInput placeholder="Surname" [value]="this.employee.surname">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="email" type="email" name="email" matInput placeholder="Email" [value]="this.employee.email">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="address" type="text" name="address" matInput placeholder="Address" [value]="this.employee.address">
    </mat-form-field>
    <mat-form-field>
      <input formControlName="salary" type="number" matInput placeholder="Salary" [value]="this.employee.salary">
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">Update</button>
  </form>
  </mat-card-content>
</mat-card>

</ng-container>
